[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
gunicorn = "*"
"aiohttp-jinja2" = "*"
asyncio-extras = "*"


[dev-packages]

yapf = "*"
"flake8" = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
"e1839a8" = {path = ".", editable = true}
aiohttp-devtools = "*"
"flake8-docstrings" = "*"


[requires]

python_version = "3.6"
