{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ owner|e }}/<a href="{{ url('view_commits', owner=owner, repo=repo) }}">{{ repo|e }}</a></h1>
            <div>Failures: {{ failures }}</div>
            <div>Tests: {{ tests_count }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Test cases</h2>
            <ul>
            {% for case in testcases %}
              {% if case.passed %}
                <li><span class="badge badge-success">Passed</span> {{ case.name|e }}</li>
              {% else %}
                <li>
                    <span class="badge badge-danger">Failed</span> {{ case.name|e }}
                    <pre><code>{{ case.failure_text|e }}</code></pre>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}
